/* Estilos globais */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
  }
  
  /* Fundo da aplicação */
  .app {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/018/743/171/large/chloe-beckett-asset.jpg?1560530966');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Estilo do Header */
  .header {
    display: flex;
    align-items: center;
    background-color: #fdd835;
    padding: 10px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  h1 {
    font-size: 24px;
    color: #5c3c92;
    font-family: ;
  }
  
  /* Estilo da janela de chat */
  .chat-window {
    flex: 1;
    background-color: rgba(245, 223, 129, 0.63); /* Fundo transparente */
    margin: 20px;
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
  }
  
  /* Estilo do input de mensagem */
  .message-input {
    display: flex;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .message-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .message-input button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #5c3c92;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .message-input button:hover {
    background-color: #482a7c;
  }
  